<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
    <title>RKChat - Web client</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
    <link href="css/global.css" rel="stylesheet" />
    <link href="css/admin.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
    <script src="js/adminApp.js"></script>
    <script src="js/services.js"></script>
</head>

<body ng-app="adminApp" ng-controller="admin_controller">
    <div id="drag"></div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <form class="d-flex input-group w-auto">
                <button data-tooltip="Exit" class="fancy-header group-btn" ng-click="exit()">
                    <i class="fas fa-times-circle"></i>
                </button>
                <button data-tooltip="Minimize" class="fancy-header group-btn" ng-click="minimize()">
                    <i class="fas fa-minus-circle"></i>
                </button>
                <button data-tooltip="Refresh" class="fancy-header group-btn" ng-click="refreshList()">
                    <i class="fas fa-redo-alt"></i>
                </button>
                <span style="font-size: 25px; margin-left: 10px" class="fancy-header">Admin app</span>
            </form>
        </div>
    </nav>

    <div class="my-container">
        <div class="my-inner-container">
            <span style="font-size: 20px; margin-left: 10px" class="fancy-header">Cert requests</span>
            <hr>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" ng-repeat="cert in certFiles track by $index">
                    {{ cert }}
                    <i class="fas fa-check-double confirm-btn" ng-click="confirmCertificate(cert)"></i>
                </li>
            </ul>
        </div>

        <div class="my-inner-container">
            <span style="font-size: 20px; margin-left: 10px" class="fancy-header">Currently online</span>
            <hr>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" ng-repeat="member in members track by $index">
                    <i ng-class="{'active-user': online.has(member)}" class="fas fa-circle"></i>&nbsp;{{ member }}
                </li>
            </ul>
        </div>
     
    </div>

</body>

</html>