<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
    <title>RKChat - Web client</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
    <link href="global.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
    <script src="app.js"></script>
    <script src="drag.js"></script>
</head>

<body ng-app="rkchat" ng-controller="rkchat_controller">
    <main ng-if="!userOnline">
        <span style="font-size: 10vh;" class="fancy-header">RK - Chat</span>
        <div class="card">
            <div class="card-body bg-dark">
                <h4 class="card-title">Enter your name and enter the chat...</h4>
                <input id="username" ng-model="username" class="form-control bg-dark" style="border-color: var(--myred)"
                    ng-keydown="($event.keyCode === 13 && username.length > 3) && enterChat()" />
                <br />
                <button type="submit" ng-disabled="username.length < 4" class="btn btn-danger btn-block my-submit"
                    ng-click="enterChat()">Submit</button>
            </div>
        </div>
    </main>


    <div id="main-continer" class="card bg-dark chat-continaner" ng-if="userOnline">
        <div id="main-continer-header" class="chat-header">
            <button class="fancy-header group-btn" ng-click="addGroup()">
                <i class="fas fa-plus-circle"></i>
            </button>
            <button class="fancy-header group-btn" ng-repeat="(group, data) in groups track by $index"
                ng-click="changeGroup(group)" ng-class="{'active-box': group == currentGroup}">
                {{ group }}
            </button>
        </div>
        <div style="height: 50vh; overflow-y: scroll;">
            <div class="message-box" ng-repeat="message in groups[currentGroup]"
                ng-class="{'my-message-box': message.username == '_'}">
                <span>{{ message.message }}</span>
                <hr />
                <small>
                    <span ng-if="message.username != '_'">{{ message.username }} - </span>{{ message.timestamp}}
                </small>
            </div>
        </div>
        <hr />
        <input id="message" placeholder="enter message..." ng-keydown="$event.keyCode === 13 && sendMessage()"
            ng-model="message" class="form-control bg-dark" />
    </div>
</body>

</html>