<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
    <title>RKChat - Web client</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
    <link href="css/global.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
</head>

<body ng-app="rkchat" ng-controller="rkchat_controller">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <form class="d-flex input-group w-auto">
                <button class="fancy-header group-btn" ng-click="!userOnline ? enterChat() : addGroup()">
                    <i class="fas fa-plus-circle"></i>
                </button>
                <span style="font-size: 25px; margin-right: 10px" class="fancy-header">RK - Chat</span>
            </form>
        </div>
    </nav>

    <div id="{{ group }}-continer" class="card bg-dark chat-continaner" ng-if="userOnline"
        ng-repeat="(group, data) in groups track by $index">
        <div id="{{ group }}-continer-header" class="chat-header">
            <span class="fancy-header">{{ group }}</span>
        </div>
        <div style="height: 50vh; overflow-y: scroll;">
            <div class="message-box" ng-repeat="message in groups[group]"
                ng-class="{'my-message-box': message.username == '_'}">
                <span>{{ message.message }}</span>
                <hr />
                <small>
                    <span ng-if="message.username != '_'">{{ message.username }} - </span>{{ message.timestamp}}
                </small>
            </div>
        </div>
        <hr />
        <input id="{{ group }}-message" placeholder="enter message..." ng-keydown="$event.keyCode === 13 && sendMessage(group)"
            ng-model="message" class="form-control bg-dark" />
    </div>
</body>

</html>